# dependencies
node_modules/

# angular
.angular/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea/
.vscode/

# system
.DS_Store
Thumbs.db

# backend leftovers
target/

# optional local tool configs
.claude/
.cursor/
.gemini/
.junie/
.windsurf/
